<style>
    .fullscreen-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;
        text-align: center;
    }
</style>

<div class="fullscreen-center">
    <div class="ui raised very padded text container segment">
        <img src="/image/404.png" style="width: 200px" />
        <h1 class="ui huge header" style="color: #DB2828;">
            PAGE NOT FOUND
        </h1>
        <div class="ui divider"></div>
        <h3 class="ui header">
            The page you're trying to access has restricted access.
        </h3>
        <h3 class="ui header">
            Please refer to your system administrator.
        </h3>
    </div>
</div>